body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'oxygen', sans-serif; 
}
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
#logo-img{
	background: url('../web_images/logo-img_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}
.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{/*page name*/
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p { /*my cert*/
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;

}
.navbar-brand p span{
	vertical-align: middle; 
}
#nav-list{
	margin-top: 10px;
}
#nav-list a {
	color: #951C49;
	text-align: center;
}
#nav-list a:hover{
	background: #E7E7E7;
}
#nav-list a span {
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;

}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}
/*end header*/

/*footer*/
.panel-footer section {
	margin-bottom: 30px;
	text-align: center;
}
.panel-footer section:nth-child(3){
	margin-bottom: 0; /*margin already exists on the whole row*/
}
.panel-footer section hr{
	width: 50%;
}
.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}

.panel-footer div.row: {
	margin-bottom: 35px;
}

#hours, #address {
	line-height: 2;
}  
#hours > span, #address > span {
	font-size: 1.3em;
}
#address p {
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
#testimonals {
	font-size: italic;
}
#testimonals p:nth-child(2){
	margin-top: 25px;
}
.container .jambotron{
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#available_companies-tile, #mekedonias-tile, #merryjoy-tile, #tesfabirhan-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
#available_companies-tile:hover, #mekedonias-tile:hover, #merryjoy-tile:hover, #tesfabirhan-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}
#available_companies-tile{
	background: url('../web_images/avail-tile.png') no-repeat;
	background-position: center;
}
#mekedonias-tile{
	background: url('../web_images/mekedonias-tile.jpg') no-repeat;
	background-position: center;
}    
#merryjoy-tile{
background: url('../web_images/merryjoy-tile.jpg') no-repeat;
background-position: center;
}
#tesfabirhan-tile{ 
background: url('../web_images/tesfabirhan-tile.jpg') no-repeat;
background-position: center;

}
#avail-tile span, #mekedonias-tile span, #merryjoy-tile span, #tesfabirhan-tile span{
	position:  absolute;
	bottom: 0;
	right: 0;
	width: 100;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
/*end of home page*/
.available_campanies-tile {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}
.available_campanies-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.available_companies-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
#available-campanies-title + div {
	margin-bottom: 50px;
}
.available-companies-tile hr {
	width: 80%;
}
.mekedonia-tile .mekedonia-activities{
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}
.mekedonia-tile .mekedonia-activities span{
	font-size: .6em;
}
.mekedonia-photo {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;
}
.mekedonia-photo div {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;
}
.mekedonia-description {
	padding-right: 30px;
}
h3.mekedonia-title{
	margin: 0 0 10px;
}
.mekedonia-detailes{
	font-size: .9em;
	font-style: italic;
}
.mekedonia-tile .mekedonia-activities{
	text-align: center;
}

/*end of available companies page*/
/*large devices only*/
@media (min-width: 1200px){

	.container.jumbotron{
		background: url(../web_images/jumbotron-1.jpg) no-repeat;
		height: 675px;
		
	}

}
/**medium devices only*/
@media (min-width: 992px) and (max-width: 1199px){
/*header */
#logo-img{
	background: url('../web_images/logo-img.png') no-repeat;
	width: 100px;
	height: 100px;
	margin: 5px 5px 5px 0;
}
.container.jumbotron {
	background: url(../web_images/jumbotron-1.jpg) no-repeat;
	height: 558px;
	
}
}
/* small devices only*/s 
@media (min-width: 768px) and (max-width: 991px){
	.container.jumbotron{
		background: url('../web_images/jumbotron-1.jpg') no-repeat;
		height: 432px;
		
	}

}
/**extra small devices only*/
@media (max-width: 767px){
	/*Header*/
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	/* END HEADER*/
	.navbar-brand h1{ /*name*/
         padding-top: 10px;
         font-size: 5vw;
         font-size: 5vw;
	}
	.navbar-brand p { /*cert*/
		text-transform: uppercase;
		font-size: .6em;
		margin-top: 12px;

	}
	.navbar-brand p img { /*star k*/
		height: 20px;

	}
	#collapsable-nav a {/*collapsable nav menu glyph */
       font-size: 1.2em;
	}
	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px; 
	}
	.container.jumbotron {
		background: url('../web_images/jumbotron-1.jpg') no-repeat;
		margin-top: 30px;
		padding: 0;
		border 
	}

#avail-tile, #mekedonias-tile, #tesfabirhan-tile{
	width: 360px;
	margin: 0 auto 15px;
}
}
@media (max-width: 479px) {
	.navbar-brand h1 {
		padding-top: 5px;
		font-size: 6vw;
	}
	#avail-tile, #mekedonias-tile, #tesfabirhan-tile{
		width: 280px;
		margin:0 auto;
	}
	.col-xxs-12{
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}
}








/*#phone {
	margin-top: 5px;
}
#phone a {
phone num
text-align: right;
padding-bottom: 0;}
#phone div {
	color: #557c3e
	text-align: right;
	padding-right: 15px;
}
*/